    @font-face {
        font-family: "Campton Light";
        src: url('https://762d0145e332a78fcb6f9b9f529c26ab.cdn.bubble.io/f1686837141922x749072734247814300/Campton%20Light.ttf') format('truetype');
    }
    #powered_by {
        font-family: "Campton Light";
    }
#WhiteSwanIframe {
 border:0px;
 width:100vw;
 min-width:350px;
 min-height:100vh;
}
