  .WhiteSwanAI {
   border:0px;
    position: relative !important;
    z-index: 100000001 !important;
    display: block;               
    width: calc(100% - 20px) !important;   
    margin: 0 auto !important; 
    box-sizing: border-box !important;
  }
